@tailwind base;
@tailwind components;
@tailwind utilities;
html.sr body .load-hidden {
    visibility: hidden;
}

.verticalnavbar {
    position: fixed;
    inset: 0;
    background-color: rgba(10, 10, 10, .3);
    z-index: 100;
    animation: fadeIn linear 1s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#checkbox:checked~.verticalnavbar {
    display: block;
}

#checkbox:checked~.vnavbar {
    opacity: 1;
    transform: translateX(0);
}

.vnavbar {
    animation: fadeIn linear 0.5s;
    transition: all linear 0.5s;
}

::-webkit-scrollbar {
    appearance: none;
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background: #b8bcc3;
    border-radius: 25px;
}

@layer components {
    .link {
        @apply transition-all duration-300 ease-linear rounded-[10px];
    }
    .link:hover {
        @apply shadow-4xl bg-[#333] text-white;
    }
    .nav__item {
        @apply font-['Google_Sans'] leading-[22px] font-[500] min-w-[75px] h-[22px] text-[17px] text-center text-[#212832];
    }
    .button__primary__text {
        @apply font-['Google_Sans'] font-[500] text-[18px] leading-[23px] text-center text-[#fff] rounded-[10px];
    }
    .button__secondary__text {
        @apply font-['Google_Sans'] font-[500] text-[17px] leading-[22px] text-[#212832] border-solid border border-[#212832] rounded-[5px];
    }
    .button {
        @apply transition-all duration-300 ease-linear;
    }
    .button:hover {
        @apply text-[1.3em] border-solid border border-green-600 text-green-600 bg-transparent;
    }
    .subheading {
        @apply h-[27px] font-['Poppins'] font-[600] text-[18px] leading-[27px] text-center text-[#5e6282];
    }
    .heading {
        @apply font-['Volkhov'] font-bold text-[50px] leading-[65px] capitalize text-[#14183e];
    }
    .paragraph14 {
        @apply font-['Poppins'] font-[400] text-[14px] leading-[21px] text-[#5e6282];
    }
    .paragraph16 {
        @apply font-['Poppins'] font-[500] text-[16px] leading-[32px] text-[#5e6282];
    }
    .paragraph18 {
        @apply font-['Poppins'] font-[600] text-[18px] leading-[22px] text-[#5e6282];
    }
    .paragraph20 {
        @apply font-['Poppins'] font-bold text-[20px] leading-[27px] text-[#5e6282];
    }
    .card {
        @apply transition-all duration-300 ease-in-out;
    }
    .card:hover {
        @apply scale-105
    }
    .icon {
        @apply transition-all duration-500 ease-in-out;
    }
    .icon:hover {
        @apply scale-125
    }
    .input:focus {
        @apply border-[2px] border-solid border-green-600 outline-none
    }
    .input:hover {
        @apply scale-105
    }
    .subscribe:hover .message {
        @apply animate-[ping_1s_ease-in-out_infinite]
    }
    .navbar {
        @apply flex justify-end items-center w-[90%] gap-[2%]
    }
    .vnavbar {
        @apply flex flex-col gap-y-2 bg-white h-full w-[280px] justify-start items-center pt-2 fixed left-0 top-0 translate-x-[-100%] z-[1000] opacity-0 rounded-r-md overflow-y-auto
    }
    .vnavbar .link {
        @apply block w-4/5 min-h-[40px] leading-[40px]
    }
}