@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* html.sr body .load-hidden {
    visibility: hidden;
} */

body {
    overflow-x: hidden;
    box-sizing: border-box;
}

.verticalnavbar {
    position: fixed;
    inset: 0;
    background-color: rgba(10, 10, 10, .3);
    z-index: 100;
    animation: fadeIn linear .7s;
    display: none;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#checkbox:checked~.verticalnavbar {
    display: block;
}

#checkbox:checked~.vnavbar {
    opacity: 1;
    transform: translateX(0);
}

.vnavbar {
    animation: fadeIn linear 0.4s;
    transition: all linear 0.4s;
}

#checkbox:checked~.header .toggle {
    transform: rotate(90deg);
}

.toggle {
    transition: all linear 0.5s;
}

.toggle:active {
    transform: rotate(90deg);
}

.dropdown:hover .dropdown__items {
    display: block;
}

.dropdown__items {
    position: absolute;
    top: 100%;
    right: -30px;
    background-color: #eee;
    padding: 0;
    border-radius: 8px 0 8px 8px;
    min-width: 135px;
}

.vnavbar .dropdown__items {
    right: -16px;
}

.dropdown__item {
    display: block;
    cursor: pointer;
    padding: 4px 16px;
    transition: all linear 0.4s;
    min-width: 120px;
    color: #333;
    opacity: .8;
}

.dropdown__item:hover {
    color: #000;
    opacity: 1;
    background-color: #ccc;
}

.selected {
    color: rgb(6, 6, 211);
    background-color: rgb(74, 74, 248);
}

::-webkit-scrollbar {
    appearance: none;
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-thumb {
    background: #b8bcc3;
    border-radius: 25px;
}

.testimonials .slick-dots li button:before {
    font-size: 18px;
}

@layer components {
    .link {
        @apply transition-all duration-500 ease-linear rounded-[10px];
    }
    .link:hover {
        @apply text-blue-700;
    }
    .nav__item {
        @apply font-['Google_Sans'] leading-[22px] font-[500] min-w-[75px] h-[22px] text-[17px] text-center text-[#212832];
    }
    .button--primary {
        @apply text-[#fff] rounded-[10px] bg-[#fdb823];
    }
    .button--secondary {
        @apply text-[#212832] border-solid border border-[#212832] rounded-[5px];
    }
    .button {
        @apply transition-all duration-300 ease-linear opacity-80 font-['Google_Sans'] font-[500] text-[18px] leading-[23px] text-center;
    }
    .button:hover {
        @apply opacity-100;
    }
    .button--primary:hover {
        @apply bg-[#f1a501]
    }
    .button--secondary:hover {
        @apply bg-[#212832] text-[#eee]
    }
    .subheading {
        @apply h-[27px] font-['Poppins'] font-[600] text-[18px] leading-[27px] text-center text-[#5e6282];
    }
    .heading {
        @apply font-['Volkhov'] font-bold text-[50px] leading-[65px] capitalize text-[#14183e];
    }
    .paragraph13 {
        @apply font-['Poppins'] font-[400] text-[13px] leading-[17px] text-[#5e6282];
    }
    .paragraph14 {
        @apply font-['Poppins'] font-[400] text-[14px] leading-[21px] text-[#5e6282];
    }
    .paragraph16 {
        @apply font-['Poppins'] font-[500] text-[16px] leading-[32px] text-[#5e6282];
    }
    .paragraph18 {
        @apply font-['Poppins'] font-[600] text-[18px] leading-[22px] text-[#5e6282];
    }
    .paragraph20 {
        @apply font-['Poppins'] font-bold text-[20px] leading-[27px] text-[#5e6282];
    }
    .card {
        @apply transition-all duration-300 ease-in-out opacity-80
    }
    .card:hover {
        @apply scale-105 opacity-100
    }
    .icon {
        @apply transition-all duration-500 ease-in-out;
    }
    .icon:hover {
        @apply scale-125
    }
    .input {
        @apply border-[2px] border-solid border-transparent
    }
    .input:focus {
        @apply border-[2px] border-solid border-green-600 outline-none
    }
    .input:hover {
        @apply border-[2px] border-solid border-green-600
    }
    .subscribe:hover .message {
        @apply animate-[ping_1s_ease-in-out_infinite]
    }
    .navbar {
        @apply flex justify-end items-center w-[90%] gap-[2%]
    }
    .vnavbar {
        @apply flex flex-col gap-y-2 bg-white h-full w-[280px] justify-start items-center pt-2 fixed left-0 top-0 translate-x-[-100%] z-[1000] opacity-0 rounded-r-md overflow-y-auto
    }
    .vnavbar .link {
        @apply block w-full min-h-[40px] leading-[40px] rounded-none p-0 m-0 text-left pl-4
    }
    .vnavbar .link:hover {
        @apply bg-slate-400 text-white
    }
    .vnavbar .button {
        @apply border-none
    }
}